body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  border: 2px solid rgb(39, 39, 39);
  border-radius: 7px;
  min-width: 300px;
  box-shadow: 3px 3px 3px rgb(88, 87, 87);
  margin-top: 10%;
  
}

.container-info label{
  margin-top: 6px;
  margin-bottom: 3px;
  display: block;
  color: rgb(11, 142, 218);
 
}
.container-info input{
  border: 2px solid rgb(11, 142, 218);
  border-radius: 5px;
  padding: 3px 5px;
  font-weight: bold;

}

.save{
  margin-top: 8px;
  text-align: center;
 
}

.save button{
  border: none;
  background-color: rgb(3, 160, 3);
  padding: 5px 12px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.add-contact{
  border: none;
  padding: 5px 12px;
  border-radius: 10px;
  background: none;
  cursor: pointer;
  font-weight: bold;
  font-size: medium;
  color: rgb(11, 142, 218);
  transition: .2s all ease-out;

}
.add-contact:hover{
  color: rgb(1, 102, 160);
}


.contact-list-container{
  width: 100%;
  margin-top: 10px;
}
.contact-list-container li{
  width: 95%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
  margin-top: 4px;
  background-color: rgb(38, 205, 247);
  box-shadow: 5px 5px 5px rgb(54, 54, 54);
  transition: .3s all ease-in-out;
  
}
.contact-form{
  
  transition: 1s all ease-out;
}

.contact-list-container li:hover{
  transform: scale(1.02);

}
.contact-item{
  width: 100%;
}

.delete{
  border: none;
  background: none;
  color: rgb(236, 8, 8);
  cursor: pointer;
  font-weight: bold;
  
}
